assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
files/hasil_pemeriksaan/*
barcode/*
uploads/*
.idea/vcs.xml
.idea/simlab.iml
.idea/modules.xml
.idea/misc.xml
